<!DOCTYPE html>
<html>
  <body>

    <tt>
      <h1>SoundExPy</h1>
      <h3>
	A web service, written in Python with Flask, which performs
	basic SoundEx encoding.
      </h3>
      <h4><i>Oren Leiman</i></h4>
    </tt>
    
    Follow <a href="/encode">this link</a> for the encoding front end.<br><br>

    Alternatively, there is a small RESTful API available:<br>
    <h2><u>HTTP Verbs</u></h2>
    <h3>GET /encode/[name]</h3>
    <blockquote>
      Used for retrieving the SoundEx encoding of <i>name</i>.
    </blockquote
    
    <h4>Example</h4>
    <blockquote>
      $ curl -i http://arcane-cove-8701.herokuapp.com/Konstantin<br>
      >>HTTP/1.1 200 OK<br>
      >>Content-Type: text/html; charset=utf-8<br>
      >>Date: Mon, 31 Dec 2012 02:23:35 GMT<br>
      >>Server: Werkzeug/0.8.3 Python/2.7.2<br>
      >>Content-Length: 40<br>
      >>Connection: keep-alive<br>
      >><br>
      >>{"raw": "KONSTANTIN", "soundex": "K523"}<br>
    </blockquote>
    
  </body>
</html>
